* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

/* Deactivating Area */
.menu, .content, #explore {
  display: none;
}
/* End of deactivating area */

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  ;
}
body::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}
body::-webkit-scrollbar-thumb:hover {
  background: #0088a9;
}
body::-webkit-scrollbar-track {
  background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(inspiredlove.png);
  background-size: cover;
  background-position: center;
}

.navbar {
  width:85%; /* Container space */
  margin: auto; /* Obviously you know what this is */
  padding: 35px 0; 
  display: flex; /* Somehow it aligns the items in-line */
  align-items: center; /* duhh... */
  justify-content: space-between; /* This puts the link to the left*/
}

.navbar ul li { /* Design the link's space */
  list-style: none;
  display: inline-block; /* Spreads the links into columns */
  margin: 0 20px;
  position: relative; /* This will parent the ::after */
}

.navbar ul li::after {
  content: '';
  height: 3px;
  width: 0;
  background-color: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s; /* opkors we need to look the :hover beautipool hehehe */
}

.navbar ul li:hover::after {
  width: 100%;
}

.navbar ul li a { /* Design the links */
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.logo {
  cursor: pointer;
}

/* This is below the top navigation */
#intro {
  width: 100%;
  margin-top: 13vh;
  position: absolute;
  text-align: center;
  color: #ffff;
}

#intro h1 {
  font-size: 90px;
  margin-top: 7vh;
}

#intro p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  margin-top: 1vh;
}

#socials {
  text-align: center;
  padding-top: 4vh;
}

#socials button {
  width: 300px;
  height: 60px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 20px;
  border: 3px solid #009688;
  background: transparent;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 1s;
}

#socials button:hover span {
  width: 100%;
}

#socials button:hover {
  border: none;
}

span {
  background: #009688;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}