@media screen and (max-width: 1080px) {
  * {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
  }

  .banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(inspiredlove.png);
    background-size: cover;
    background-position: center;
  }

  .navbar {
    width:100%; /* Container space */
    margin: auto; /* Obviously you know what this is */
    padding: 0px 0; 
    display: flex; /* Somehow it aligns the items in-line */
    align-items: center; /* duhh... */
    justify-content: space-between; /* This puts the link to the left*/
  }

  .navbar ul li { /* Design the link's space */
    list-style: none;
    margin: 0;
    display: inline-block; /* Spreads the links into columns */
    margin: 0px 9px;
    position: relative; /* This will parent the ::after */
  }
  

  
  .navbar ul li a { /* Design the links */
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 7px;
  }
  
  .logo {
    width: 150px;
  }
  
}

  /*.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background-color: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s; /* opkors we need to look the :hover beautipool hehehe */
  
  
  /*.navbar ul li:hover::after {
    width: 100%;
  }