* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

}

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
}

.established {
  font-style: italic;
}

h1, h2, p {
  text-align: center;
}

.menu {
  height: 600px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  height: 2px;
  background-color: brown;
  border-color: brown;
}

.bottom-line {
  margin-top: 25px;
}

h1, h2 {
  font-family: Impact, serif;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.flavor, .dessert {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%;
}

/* FOOTER */

footer {
  font-size: 14px;
}

footer a{
  margin: 2vh;
}

#hi {
  display: none;
}

@media screen and (max-width: 420px) {
  footer a {
    margin: 0;
  }

  #hi {
    display: block;
  }

  #bye {
    display: none;
  }
}


.address {
  margin-bottom: 5px;
}

footer p a {
  color: black;
}

footer p a:visited {
  color: black;
}

footer p a:hover {
  color: brown;
}

footer p a:active {
  color: brown;
}

.attribution {
  height: 3vh;
  width: 100%;
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #232323;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.attribution p {
  font-size: 15px;
}

.mentor {
  color: blue;
}

.attribution p a:visited {
  color: rgb(23, 226, 23);
}

.attribution .phone {
  display: none;
}

.web {display: flex;}

@media screen and (max-width: 420px){
  * {
    margin: 0 10 0 10;
  }

  .menu {
    width: 95%;
  }

  .attribution .web {
    display: none;
  }

  .attribution .phone {
    display: flex;
  }
}